{
	"plugins": [
		[
			"module-resolver",
			{
				"cwd": "babelrc",
				"root": ["index.js"],
				"extensions": [".js", ".ios.js", ".android.js"],
				"alias": {
					"@assets": "./src/assets",
					"@common": "./src/common",
					"@constants": "./src/constants",
					"@layouts": "./src/layouts",
					"@modules": "./src/modules",
					"@pages": "./src/pages",
					"@store": "./src/store"
				}
			}
		]
	]
}
